/* test1 */
/* .test {
  color: red;
} */

/* test2 */
/* .header {
  display: flex;
  .__nav {
    display: flex;
  }
  &__title {
    font-size: 16px;
  }
} */

/* test3 */
/* .header {
  display: flex;
  .nav {
    display: flex;
    p {
      font-size: 16px;
      a {
        color: red;
      }
    }
  }
} */

/* test4 */
/* .header {
  display: flex;
  &__nav {
    display: flex;
  }
  &__title {
    font-size: 16px;
  }
} */

/* test5 */
/* $red : #ff0000;
$color : #000993;

.test {
  color: $red;
}
.test2 {
  color: $color;
}
.test3 {
  color: $color;
} */

/* test6 */
/* @mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  @include flex_center;
} */

/* test7 */
/* @mixin flex($justify: space-between) {
  display: flex;
  justify-content: $justify;
}

.test1 {
  @include flex;
}
.test2 {
  @include flex(center);
} */

/* test8 */
/* .test {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box {
  @extend .test;
} */

/* test9 */
/* %test {
  width: 100%;
  height: 100%;
  background-color: red;
}

.box {
  @extend %test;
} */

/* test10 */
@use "foundation";